fastapi
uvicorn[standard]
websockets
python-multipart
python-dotenv
langchain
langchain-community
langchain-openai
langchain-text-splitters
langsmith
leann
sentence-transformers
transformers
pypdf
langchain-groq
langchain-huggingface
langchain-chroma
python-dotenv
numpy
matplotlib
pandas
streamlit
